<meta charset="utf-8">
{%- if page.title == "Home" -%}
<title>Kei-Camp - A website dedicated to best girl Kei Karuizawa.</title>
{%- else -%}
<title>{{ page.title }} - Kei-Camp</title>
{%- endif -%}
<link rel="icon" href="{{ site.url }}/assets/images/icon.png">
<link rel="preload" href="/assets/fonts/Manrope-Latin.woff2" as="font" crossorigin="anonymous" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{%- if page.description -%}{{ page.description }}{%- else -%}A website dedicated to Kei Karuizawa.{%- endif -%}">
<meta name="keywords" content="Kei-Camp, Kei Camp, Kei Karuizawa, Best girl, Kei, Classroom of the Elite, you-zitsu, cote, karuizawa, kei fan, fanfic, scenes, light novel, manga, anime">

<meta property="og:type" content="website"/>
<meta property="og:title" content="Kei-Camp - {{ page.title }}"/>
<meta property="og:description" content="{%- if page.description -%}{{ page.description }}{%- else -%}A website dedicated to Kei Karuizawa.{%- endif -%}"/>
<meta property="og:url" content="https://kei.moe/"/>
<meta property="og:site_name" content="Kei-Camp"/>
<meta property="og:image" content="{{ site.url }}/assets/images/icon.png"/>
<meta property="og:image:width" content="400"/>
<meta property="og:image:height" content="400"/>
<meta property="og:locale" content="en_US"/>

<link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css" type="text/css">
{%- if layout.fulljQuery or page.fulljQuery -%}
<script src="{{ site.url }}/assets/js/jquery-3.4.1.min.js"></script>
{%- else -%}
<script src="{{ site.url }}/assets/js/jquery-3.4.1.slim.min.js"></script>
{%- endif -%}
{{- layout.headers -}}
{{- page.headers -}}
<script src="{{ site.url }}/assets/js/popper.min.js"></script>
<script src="{{ site.url }}/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/anime.min.js" crossorigin="anonymous"></script>
<!-- Design largely inspired by hiyorishiina.com -->