<header class="msetup mheader">
  <nav class="navbar navbar-expand-lg navbar-light justify-content-between nvcustom">
    <a class="navbar-brand" href="/"> <img id="logo" alt="Kei-Camp" src="assets/images/icon.png" width="65" height="65">
      <span>Kei-Camp<b>A site dedicated to best girl Kei</b></span>
    </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav ml-auto">
        {%- for item in site.data.navigation -%}
        <li class="nav-item active" {% if page.url == item.link %}style="background-color:#D4AF37;"{%- endif -%}><a href="{{ item.link | remove: '.html' }}" {% if page.url == item.link %}style="color:#ffffff;"{% endif %} class="nav-link nav-link-custom">{{ item.name }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  </nav>
</header>