<header class="navHeader">
  <nav class="navbar navbar-expand-lg navbar-light justify-content-between nvcustom">
    <a class="navbar-brand" href="/">
      <img id="logo" alt="Kei-Camp" align="left" src="{{ site.url }}/assets/images/icon.png"/>
      <p class="brandTitle">Kei-Camp</p>
      <p class="brandDescription">A site dedicated to best girl Kei</p>
    </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav ml-auto">
        {%- for item in site.data.navigation -%}
        {%- assign activePage = false -%}
        {%- assign activeNavBar = false -%}
        {%- if item.dropdown -%}
            {% assign startsWith = page.url | split:item.link %}
            {%- if startsWith[0] == "" -%}{%- assign activeNavBar = true -%}{%- endif -%}
            <li class="nav-item dropdown active">
              <a class="nav-link navLinkContainer dropdown-toggle" href="#" id="navbarDropdown-{{ forloop.index }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbarLinkText">
                  {{ item.name }}
                  <div class="linkBorder" {% if activePage %}style="borderBottom:1px solid; width:100%;"{%- endif -%}></div>
                </span>
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{ forloop.index }}">
              {%- for i2 in item.dropdown -%}
                {%- assign activePage = false -%}
                {%- if page.url == i2.link -%}{%- assign activePage = true -%}{%- endif -%}
                <a class="dropdown-item {% if activePage %}selected-dropdown{%- endif -%}" href="{{ i2.link | remove: '.html' }}">{{ i2.name }}</a>
              {%- endfor -%}
              </div>
            </li>
        {%- else -%}
          {%- if page.url == item.link -%}{%- assign activePage = true -%}{%- endif -%}
          <li class="nav-item active">
            <a href="{{ item.link | remove: '.html' }}" class="nav-link navLinkContainer">
              <span class="navbarLinkText">
                {{ item.name }}
                <div class="linkBorder" {% if activePage %}style="borderBottom:1px solid; width:100%;"{%- endif -%}></div>
              </span>
            </a>
          </li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
  </nav>
</header>
