---
---

.row > div {
  padding: 0 4px !important;
}

.img-gal {
  margin-top: 8px;
  display: block;
  opacity: 0;
}

.gallery-row {
  margin-bottom: 100px;
}

.gallery-row img:not(.initial) {
  transition: opacity 1s;
}

.gallery-row img.initial, img.loaded, img.error {
  opacity: 1;
}

.gallery-row img:not([src]) {
  visibility: hidden;
}

img.pic {
  opacity: 0;
  width: 100%;
  margin: 0 3% 3% 0;
}

.images-container {
  margin: 15px 0 50px 0;
}