---
---
@import "main";

.discord {
  height: 100px;
  margin-bottom: 10px;
}

.row > div {
  padding: 0 4px !important;
}

.img-gal {
  margin-top: 8px;
  display: block;
  opacity: 0;
}

img.pic {
  opacity: 0;
  width: 100%;
  margin: 0 3% 3% 0;
}

.images-container {
  margin: 15px 0 50px 0;
}

p {
  font-size: 10px;
}