---
---
@import "main";

.post-item {
    margin-top: 32px;
    padding-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 32px;
    border-bottom: 1px solid #888888;
}

.mcontent {
    border-top: 1px solid grey;
    padding-top: 32px;
}

.home-intro {
    background-color: #F0F0F0;
    padding-top: 64px;
    padding-bottom: 64px;
}

.ss-link {
    margin-top: 50px;
}

.post-info {
    margin: 0;
    padding: 0;
}

.post-page h6 {
    color: #888888;
    padding-bottom: 12px;
    font-size: 14px;
}

.post-info i {
    float: left;
    color: #888888;
}

.post-info p {
    font-size: 11px;
    //margin-left: 18px;
    color: 	#888888;
}

.nice-button {
    float: right;
    padding:0.2em 1em;
    border: 1px solid black;
    margin: -10px 0.1em 0.1em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size: 15px;
    color: black;
    text-align:center;
    transition: all 0.15s;
}

.nice-button:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
}

.nice-button:active {
    color:#BBBBBB;
    border-color:#BBBBBB;
}

.welcome-banner {
    margin: 20px 0 20px 0;
}

@media (min-width: 768px) {
    .msetup {
        //margin: 10px 12% 0px 12%;
        margin: 12%;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .home-intro {
        padding-left: 12%;
        padding-right: 12%;
    }

    .real-content {
        padding-left: 12%;
        padding-right: 12%;
        margin-top: 64px;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .msetup{
        //margin: 10px 3% 0px 3%;
        margin: 3%;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .home-intro {
        padding-left: 3%;
        padding-right: 3%;
    }

    .real-content {
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 64px;
        margin-bottom: 100px;

    }

    .navbar-collapse .nav-link a {
        padding: 2px;
    }
}

@media (min-width: 992px) {
    .nav-link-custom {
        padding: 4px 8px 4px 8px !important;
    }
}

@media (max-width: 992px) {
    .nav-link-custom {
        padding: 4px 16px 4px 16px !important;
    }
}

.mheader {
    margin-bottom: 10px;
}

.nvcustom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #D4AF37;
}

#logo {
    vertical-align:middle;
}

.navbar-brand span {
    font-size:2rem;
    line-height:1.2;
    font-weight: 200;
    display:inline-block;
    vertical-align:middle;
    padding: 0 0 0 15px;
}

.navbar-brand b {
    display:block;
    font-size:50%;
    line-height:1;
}

.navbar-nav {
    margin-left:auto;
}

.fanfic-block ul {
    margin-top: 8px;
    list-style-type: square;
}

.spin {
    height: 360px;
    transition-duration: 0.8s;
    transition-property: transform;
}
.spin:hover {
    animation-name: rotate; 
    animation-duration: 0.8s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.normal {
    margin-top: 3px;
    margin-bottom: 18px;
    font-size: 1em;
    font-weight: normal;
}