---
layout: default
---
<section class="mainContent">
    <div id="content" class="container-fluid">
        {{ content }}
    </div>
</section>
<script>
lazyload();
var imageContainers = document.getElementsByClassName("row");
for (let elm of imageContainers) {
    const $container = $(elm).masonry({
        itemSelector: '.grid-item',
    });
    $('.lazyload', $container).each(function(n, img) {
        $(img).on('load', function() {
            $(img).css('opacity', '1');
            $container.masonry('layout');
        });
    });
}
</script>