---
layout: default
---
<section class="mainContent pad-bottom">
    <div class="col rehosted">
        <div class="title-description">
            <h1>{{ page.title }}</h1>
            <h3>{{ page.type }}</h4>
            {%- if page.translated_by -%}
            <h5>TL: {{ page.translated_by }}</h6>
            {%- endif -%}
            {%- if page.tlc_by -%}
            <h5>TLC: {{ page.tlc_by }}</h6>
            {%- endif -%}
            {%- if page.link -%}
            <h5>Originally Posted <a href="{{ page.link }}">Here</a></h6>
            {%- endif -%}
            {%- if page.note -%}
            <h6>Note: {{ page.note }}</h6>
            {%- endif -%}
        </div>
        {{ content }}
    </div>
</section>